.seasonBox {
  margin-top: 10px;
  width: 80%;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 20px;
}
.seasonContent {
  border-top: 1px solid rgb(100, 100, 100);
}

.seasonIcon {
  height: 30px;
  width: 30px;
  color: #1e88e5;
}

.sea {
  overflow: scroll;
  max-height: 400px;
  scroll-behavior: smooth;
}
